// ----
// Reset some of the boilerplate and Normalize values
// so that it is easy to keep boilerplate and Normalize
// up to date.
// ----

// Uniform box sizing
@include scut-reset-border-box;

html {
    line-height: 1.6;
}

body {
    margin: 20px;
}

// ----
// Single directional margins
// ----
blockquote,
dd,
div,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
hr,
nav,
ol,
p,
pre,
table,
ul {
    margin: 0 0 $omni-value-half;
}

// Margin overrides
.tab-wrap,
.tab__content,
.tab-vertical__content {
    margin: 0;
}