/**
 * Reset some of the boilerplate and Normalize values
 * so that it is easy to keep boilerplate and Normalize
 * up to date.
 */

html {
//    font-size: 100%;
    line-height: 1.6;
}

html,
button,
input,
select,
textarea { 
    font-family: $font-sans-serif;
}

body {
    margin: 20px;
    // Put the name of the media query :after the body
    // then read it with JavaScript
    &:after {
        display: none;
    }
    
    @include breakpoint(min-s) {
        &:after {
            content: 's';
        }
    }
    
    @include breakpoint(min-m) {
        &:after {
            content: 'm';
        }
    }

    @include breakpoint(min-l) {
        &:after {
            content: 'l';
        }
    }
    
    @include breakpoint(min-xl) {
        &:after {
            content: 'xl';
        }
    }
}

/**
 * Single directional margins thing
 * http://csswizardry.com/2012/06/single-direction-margin-declarations/
 */

blockquote,
dd,
div,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
hr,
ol,
p,
pre,
table,
ul {
    margin: 0 0 $omni-value;
}

// Margin overrides
.detail-wrap {
    margin: 0;
}