/**
 * Colors
 */

// Greys
$color-black:         #000;
$color-black-light:   #333;
$color-grey-dark:     #666;
$color-grey:          #888;
$color-grey-light:    #aaa;
$color-grey-lighter:  #ddd;
$color-grey-lightest: #eee;
$color-white:         #fff;

// Other colors
$color-red:          #ff0000;
$color-red2:         #ff6363;
$color-pink:         Pink;
$color-blue:         Blue;
$color-yellow:       Yellow;
$color-yellow-light: LightYellow;

/**
 * Measurements
 */

$omni-value: 40px;

/**
 * Fonts
 */

$font-monospace: Monaco, 'Andale Mono', 'Courier New', 'Courier', monospace;
$font-sans-serif: sans-serif;
$font-serif: Georgia, Times, 'Times New Roman', serif;