time {
    @include font-size(12px);
    color: $color-grey;
    font-family: $font-monospace;
    line-height: 1;
}

.note {
    background: $color-yellow-light;
    border-radius: 3px;
    font-family: $font-sans-serif;
    margin: 0 0 10px;
    padding: 10px;
}