// Main block
.wrap {
    @include breakpoint(min-xxl) {
        width: 1660px;
    }

    margin: 0;
    max-width: 100%;
}

// Navigation
nav {
    a {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 20px;
    }
}

.current {
    border-bottom: 3px solid $color-black;
    color: #000;
    padding-bottom: 2px;
}

// Links
a {
    color: $color-grey;
    text-decoration: none;

    &:hover {
        color: $color-grey-light;
    }
}