// Main block
.wrap {
    @include breakpoint(min-xxl) {
        width: 1660px;
    }

    margin: 0;
    max-width: 100%;
}

// Navigation
nav {
    a:first-child {
        margin-right: 20px;
    }
}

.current {
    border-bottom: 3px solid $color-black;
    color: #000;
    padding-bottom: 5px;
}
