p {
    margin-bottom: $omni-value-half;
}

h1,
h2 {
    margin-bottom: $omni-value-half;
}

// Other typo styling
i,
q,
em,
blockquote {
    font-style: italic;
}

// Utilities
.sans-serif {
    font-family: $font-sans-serif;
}

small,
.font-small {
    font-size: 85%;
}

.font-medium {
    font-size: 90%;
}

.font-large {
    font-size: 125%;
}

.center {
    text-align: center;
}

.color-black {
    color: $color-black;
}

.color-red,
.highlight {
    color: $color-red;
}

.color-grey,
.dehighlight {
    color: $color-grey;
}

.color-white {
    color: $color-white;
}