// Possible custom fonts
// @include scut-font-face("Museo100", "../fonts/museo/exljbris_-_museosans-100-webfont");
// @include scut-font-face("Museo300", "../fonts/museo/exljbris_-_museosans-300-webfont", bold);

p {
    //@include font-size(36px);
    margin-bottom: $omni-value-half;
    &:last-child {
        // margin-bottom: 0;
    }
}

h1,
h2 {
    margin-bottom: $omni-value-half;
}

// Other typo styling
i,
q,
em,
blockquote {
    font-style: italic;
}

/**
 * Reausable classes
 */

.sans-serif {
    font-family: $font-sans-serif;
}

small,
.font-small {
    font-size: 85%;
}

.font-medium {
    font-size: 90%;
}

.font-large {
    font-size: 125%;
}

.center {
    text-align: center;
}

.color-black {
    color: $color-black;
}

.color-red,
.highlight {
    color: $color-red;
}

.color-grey,
.dehighlight {
    color: $color-grey;
}

.color-white {
    color: $color-white;
}