$tab-height: 50px;
$tab-width: 300px;

.vertical-tabs {
    .tab-wrap {
        height: 100%;
        position: relative;
    }
}

.ver-tabs-details {
    &[open] summary {
        background: $color-grey-light;
        border-bottom-color: $color-grey-light;
    }

    &:first-child {
        summary {
            border-left-width: 0;
        }
    }
}

.detail-content-wrapper {
    background: $color-grey-light;
    padding: $omni-value-half;

    @include breakpoint(min-s) {
        left: $tab-width;
        position: absolute;
        top: 0;
        
        &:after {
            // background: Pink;
            // top: 0;
            background: $color-grey-lighter;
            content: '';
            display: block;
            height: 100%;
            left: -$tab-width;
            position: absolute;
            top: 0;
            width: $tab-width;
            z-index: -1;
        }
    }
}

.ver-tabs-details__summary {
    background: $color-grey-lighter;
    border-color: $color-white;
    border-style: solid;
    border-width: 0 0 1px;
    cursor: pointer;
    height: $tab-height;
    line-height: $tab-height; // Center vertically
    outline: 0;
    padding-left: $omni-value-half;

    @include breakpoint(min-s) {
        width: $tab-width;
    }
}